numpy~=1.26.4
matplotlib~=3.9.0
setuptools~=65.5.0
scipy~=1.13.1
seaborn~=0.13.2
pandas~=2.2.2
scikit-learn~=1.5.0
PyYAML~=6.0.2
torch~=2.5.1
jupyter~=1.1.1
pymc~=5.17.0
pysindy~=1.7.5
Cython~=3.0.11
wheel~=0.44.0
tqdm~=4.66.6